<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Deployment ML Project</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
  
</head>

<body style="background: #000;">
 <div class="login">
	<h1>Predição de Obesidade</h1>

    <form action="{{ url_for('predict') }}" method="post">
      <input type="text" name="age" placeholder="Idade" required>
      <input type="text" name="height" placeholder="Altura (cm)" required>
      <input type="text" name="weight" placeholder="Peso (kg)" required>

      <select name="family_history" required>
        <option value="" disabled selected>Histórico de obesidade na família?</option>
        <option value="1">Sim</option>
        <option value="0">Não</option>
      </select>

      <select name="fcvc" required>
        <option value="" disabled selected>Frequência de consumo de vegetais</option>
        <option value="1">Baixa</option>
        <option value="2">Média</option>
        <option value="3">Alta</option>
      </select>

      <input type="text" name="ncp" placeholder="Número de refeições por dia" required>

      <select name="caec" required>
        <option value="" disabled selected>Consome alimentos entre refeições?</option>
        <option value="1">Nunca</option>
        <option value="2">Às vezes</option>
        <option value="3">Frequentemente</option>
      </select>

      <input type="text" name="ch2o" placeholder="Litros de água por dia" required>

      <select name="faf" required>
        <option value="" disabled selected>Frequência de atividade física</option>
        <option value="1">Nenhuma</option>
        <option value="2">Baixa</option>
        <option value="3">Média</option>
        <option value="4">Alta</option>
      </select>

      <input type="text" name="tue" placeholder="Tempo em dispositivos eletrônicos (horas)" required>

      <select name="calc" required>
        <option value="" disabled selected>Frequência de consumo de álcool</option>
        <option value="1">Nunca</option>
        <option value="2">Às vezes</option>
        <option value="3">Frequentemente</option>
      </select>

      <button type="submit">Identificar obesidade</button>
    </form>

    <br>
    {{ prediction_text }}
 </div>


</body>
</html>
