<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Deployment ML Project</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
  
</head>

<body style="background: #000;">
 <div class="login">
	<h1>Predição de Obesidade</h1>

    <form action="{{ url_for('predict')}}" method="post">
      <input type="text" name="age" placeholder="Idade" required="required" />
      <input type="text" name="height" placeholder="Altura (em cm)" required="required" />
      <input type="text" name="weight" placeholder="Peso (em kg)" required="required" />

      <label for="family_history">Histórico de obesidade na família?</label>
      <select name="family_history">
        <option value="yes">Sim</option>
        <option value="no">Não</option>
      </select>

      <label for="fcvc">Frequência de consumo de vegetais</label>
      <select name="fcvc">
        <option value="1">Baixa</option>
        <option value="2">Média</option>
        <option value="3">Alta</option>
      </select>

      <label for="ncp">Número de refeições por dia</label>
      <input type="text" name="ncp" placeholder="Ex: 3" required="required" />

      <label for="caec">Consumo entre refeições</label>
      <select name="caec">
        <option value="0">Nunca</option>
        <option value="1">Às vezes</option>
        <option value="2">Frequentemente</option>
      </select>

      <label for="ch2o">Consumo de água diário</label>
      <select name="ch2o">
        <option value="1">Pouco</option>
        <option value="2">Moderado</option>
        <option value="3">Alto</option>
      </select>

      <label for="faf">Frequência de atividade física</label>
      <select name="faf">
        <option value="0">Nenhuma</option>
        <option value="1">Baixa</option>
        <option value="2">Média</option>
        <option value="3">Alta</option>
      </select>

      <label for="tue">Uso de dispositivos eletrônicos</label>
      <select name="tue">
        <option value="1">Baixo</option>
        <option value="2">Médio</option>
        <option value="3">Alto</option>
      </select>

      <label for="calc">Consumo de álcool</label>
      <select name="calc">
        <option value="0">Nunca</option>
        <option value="1">Às vezes</option>
        <option value="2">Frequentemente</option>
      </select>

      <button type="submit" class="btn btn-primary btn-block btn-large">Identificar obesidade</button>
    </form>

    <br><br>
    {{ prediction_text }}

 </div>


</body>
</html>
